.style{
border-radius: 10px;
border-color: brown;
}
.style:hover{
    background-color: rgb(97, 190, 233);
}

.name{
    border-radius: 10px;
}

.number{
    border-radius: 10px;
}

.email{
    border-radius: 10px;
}